**Recuerde no agregar o quitar celdas en este notebook, ni modificar su tipo. Si lo hace, el sistema automaticamente lo calificará con cero punto cero (0.0)**

# Descripción

Esta tarea tiene como fin ayudarlo a profundizar sus conocimientos en programación con el lenguaje Python usando Pandas. En la siguiente celda importaré algunas librerias y leeré algunos archivos por usted.

In [ ]:
###__test__
import pandas
customer    = pandas.read_table('customer',    sep = ',', decimal = '.')
employee    = pandas.read_table('employee',    sep = ',', decimal = '.')
family      = pandas.read_table('family',      sep = ',', decimal = '.')
order2000   = pandas.read_table('order2000',   sep = ',', decimal = '.')
order2001   = pandas.read_table('order2001',   sep = ',', decimal = '.')
order2002   = pandas.read_table('order2002',   sep = ',', decimal = '.')
order2003   = pandas.read_table('order2003',   sep = ',', decimal = '.')
order2004   = pandas.read_table('order2004',   sep = ',', decimal = '.')
order2005   = pandas.read_table('order2005',   sep = ',', decimal = '.')
order2006   = pandas.read_table('order2006',   sep = ',', decimal = '.')
order2007   = pandas.read_table('order2007',   sep = ',', decimal = '.')
order2008   = pandas.read_table('order2008',   sep = ',', decimal = '.')
order2009   = pandas.read_table('order2009',   sep = ',', decimal = '.')
order2010   = pandas.read_table('order2010',   sep = ',', decimal = '.')
order2011   = pandas.read_table('order2011',   sep = ',', decimal = '.')
order2012   = pandas.read_table('order2012',   sep = ',', decimal = '.')
order2013   = pandas.read_table('order2013',   sep = ',', decimal = '.')
order2014   = pandas.read_table('order2014',   sep = ',', decimal = '.')
order2015   = pandas.read_table('order2015',   sep = ',', decimal = '.')
order2016   = pandas.read_table('order2016',   sep = ',', decimal = '.')
orderdetail = pandas.read_table('orderdetail', sep = ',', decimal = '.')
product     = pandas.read_table('product',     sep = ',', decimal = '.')
supplier    = pandas.read_table('supplier',    sep = ',', decimal = '.')

# Problema 1

Imprima el valor del campo `ssn` (uno por línea) para los registros 2, 6 y 8 del archivo `employee`.

# Problema 2

Imprima el total de registros (uno por línea) para los archivos `employee`, `product` y `orderdetail`.

In [ ]:
#
# escriba su codigo aqui
#

# Problema 3

Escriba una función `f` que reciba el nombre de un departamento y cuente cuantos registros hay para dicho departamento en el archivo `employee`.

In [ ]:
def f(departamento):
    #
    # escriba su codigo aqui
    #
    pass

In [ ]:
###__test__
print(f("Accounting"))
print(f("Advertising"))
print(f("Asset Management"))
print(f("Media Relations"))
print(f("Sales and Marketing"))

# Problema 4

Imprima una tabla con la cantidad de empleados nacidos por año, ordenada por año y un año por línea. Use un espacio en blanco para separar el año y la cantidad de personas; por ejemplo, '1969 2'.

In [ ]:
#
# escriba su codigo aqui
#

# Problema 5

Imprima una lista con las ciudades del archivo `employee` ordenadas alfabéticamente y sin repetir ciudad. Imprima una ciudad por renglón.

In [ ]:
#
# escriba su codigo aqui
#

# Problema 6

Imprima una lista con las ciudades del archivo `employee` ordenadas alfabéticamente indicando cuántas veces aparece cada ciudad en el archivo. Imprima una ciudad por renglón. Separe la ciudad y la cantidad por un espacio en blanco; por ejemplo: 'BELLEFONTE 3'.

In [ ]:
#
# escriba su codigo aqui
#

# Problema 7

Imprima, por cada ciudad diferente del archivo `employee`, cuántos registros quedan si se eliminan todos los registros que contienen dicha ciudad. Imprima la lista ordenada alfabéticamente. Separe la ciudad y la cantidad usando un espacio en blanco; por ejemplo: `'BELLEFONTE 47'`.

In [ ]:
#
# escriba su codigo aqui
#

# Problema 8

Escriba una función que reciba el nombre completo de un hijo (campo `fullname` del archivo `family`), y devuelva el primer nombre (`fullname`) del padre.

In [ ]:
def f(fullname):
    #
    # escriba su codigo aqui
    #
    pass

In [ ]:
###__test__
print(f('Jean Bailey'))
print(f('Berneice Neil'))
print(f('Mammie Montano'))
print(f('Nettie Beasley'))

# Problema 9

Escriba una función que reciba el número de orden (`order.id`) y devuelva el nombre completo (`fullname`) del empleado que la atendio.

In [ ]:
def f(orderid):
    #
    # escriba su codigo aqui
    #
    pass

In [ ]:
###__test__
print(f(309))
print(f(653))
print(f(996))

# Problema 10

Escriba una función que reciba el número de orden (`order.id`) y devuelva el nombre completo (`fullname`) del cliente que la solicitó.

In [ ]:
def f(orderid):
    #
    # escriba su codigo aqui
    #
    pass

In [ ]:
###__test__
print(f(309))
print(f(653))
print(f(996))

# Problema 11

Escriba una función que reciba el nombre de un empleado (`fullname`) y retorne la cantidad de órdenes atendidas por él.

In [ ]:
def f(fullname):
    #
    # escriba su codigo aqui
    #
    pass

In [ ]:
###__test__
print(f('Christy Petry'))
print(f('Gisela Strong'))
print(f('Ellis Ervin'))

# Problema 12

Escriba una función que reciba el nombre de un empleado y retorne el valor mínino del campo `order.id` del total de ordenes que atendió.

In [ ]:
def f(fullname):
    #
    # escriba su codigo aqui
    #
    pass

In [ ]:
###__test__
print(f('Christy Petry'))
print(f('Gisela Strong'))
print(f('Ellis Ervin'))

# Problema 13

Escriba una función que reciba el `order.id` de una orden y retorne el cálculo del valor total de la orden.

In [ ]:
def f(orderid):
    #
    # escriba su codigo aqui
    #
    pass

In [ ]:
###__test__
print(f(1))
print(f(2))
print(f(3))

# Problema 14

Imprima la cantidad de empleados que nacieron en cada uno de los trimestres (`Q1`, `Q2`, `Q3`, `Q4`) del año. Imprima un trimestre por reglón, separando las cantidades por un espacio en blanco. Por ejemplo: `'Q1 18'`.

In [ ]:
#
# escriba su codigo aqui
#

# Problema 15

Escriba una función que reciba un grupo de cuatro dígitos e imprima la cantidad de veces que aparece dicho número en el segundo grupo de dígitos de todos los números telefónicos.

In [ ]:
def f(num):
    #
    # escriba su codigo aqui
    #
    pass

In [ ]:
###__test__
print(f('1289'))
print(f('2345'))
print(f('4876'))

---